#index
  a:hover
    i
      color: #FF8800
      &.icon-twitter
        color: #00aced
      &.icon-octopus
        color: #999
      &.icon-google_plus
        color: #dd4b39

  #social
    text-align: center
    a
      display: inline-block
      margin-right: 20px
      &:last-child
        margin-right: 0
      [class*="icon"]
        font-size: 30px

  #user [class*="icon"]
    font-size: 30px

  #working_for
    text-align: center

  #worked_for
    a
      display: block
      vertical-align: top
    .sprite
      width: 107px
      margin-right: 40px

  #friends p
    line-height: 48px
    i
      float: left
      margin-right: 10px

