/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  border-top: 5px solid #FF8800;
  background-color: #e5e5e5;
  font: 16px/26px 'Roboto', Arial, Helvetica, Helvetica Neue, Arial;
  font-weight: 300;
  color: #262626;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #262626;
}

.box {
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  background-color: #FFF;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 0 1px 0px #D8D8D8;
}

.box .box_inner {
  padding: 20px;
}

.box .box_inner p:last-child {
  margin-bottom: 0;
}

.box h2 {
  font-weight: 300;
  font-size: 20px;
  margin: 0;
  color: #999;
  margin-bottom: 20px;
  text-align: left;
}

nav {
  background-color: #F5F5F5;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 2px 4px 0px;
}

nav ul {
  width: 235px;
  margin: 0 auto;
  padding: 0;
}

nav ul li {
  height: 44px;
  line-height: 44px;
  margin-left: 18px;
  margin-right: 18px;
  vertical-align: middle;
  display: inline-block;
  border-bottom: 2px solid #F5F5F5;
}

nav ul li a {
  color: #737373;
  text-decoration: none;
  font-size: 14px;
  display: block;
}

nav ul li a:hover {
  color: #737373;
}

nav ul li.active, nav ul li:hover {
  border-bottom: 2px solid #FF8800;
}

nav ul li.active a {
  color: #262626;
  font-weight: bold;
}

i {
  color: #262626;
}

a:hover, a:hover i {
  color: #FF8800;
}

a:hover i.icon-twitter {
  color: #00aced;
}

a:hover i.icon-octopus {
  color: #999;
}

a:hover i.icon-google_plus {
  color: #dd4b39;
}

#me {
  text-align: center;
}

#me .text {
  margin-top: 23px;
}

#me .text .fullname {
  font-size: 36px;
}

#me .text .job_profile {
  color: #999;
  font-size: 1.2em;
  margin: 0;
  margin-left: 2px;
  font-weight: normal;
}

#social {
  text-align: center;
}

#social a {
  display: inline-block;
  margin-right: 20px;
}

#social a:last-child {
  margin-right: 0;
}

#social a [class*="icon"], #user [class*="icon"] {
  font-size: 30px;
}

#working_for {
  text-align: center;
}

#worked_for a {
  display: block;
  vertical-align: top;
}

#worked_for .sprite {
  width: 107px;
  margin-right: 40px;
}

#friends p {
  line-height: 48px;
}

#friends p i {
  float: left;
  margin-right: 10px;
}

/* SPRITE */
.sprite {
  background: url(../img/dest/sprite.png) 0 0 no-repeat;
  display: inline-block;
}

.sprite.drivy {
  background-position: -70px -126px;
  width: 107px;
  height: 25px;
}

.sprite.kontest {
  background-position: -83px -72px;
  width: 74px;
  height: 25px;
}

.sprite.reepost {
  background-position: -70px -10px;
  width: 107px;
  height: 34px;
}

.sprite.julien {
  background-position: -10px -10px;
  width: 48px;
  height: 48px;
}

.sprite.me {
  background-position: -187px -66px;
  width: 103px;
  height: 103px;
}

.sprite.mfg {
  background-position: -182px -10px;
  width: 109px;
  height: 51px;
}




/* ==========================================================================
   Media queries
   ========================================================================== */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .sprite {
    background: url(../img/dest/sprite@2x.png) 0 0 no-repeat;
    background-size: 300px 180px;
  }
}

@media only screen and (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }

  #post ul .highlight {
    margin-left: -40px;
    margin-right: 0;
  }
}

/* ==========================================================================
   Grid
   ========================================================================== */
.row {
  *zoom: 1;
}

.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row [class*="col"] {
  border: 0px solid rgba(0,0,0,0);
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0 2.5%;
}

@media only screen and (max-width: 767px) {
  .row [class*="col"] {
  width: 100%;
  padding: 0 2%;
  }
}

@media only screen and (min-width: 768px) {
  .col1 {
    width: 8.33333333333%;
  }
  .col2 {
    width: 16.6666666667%;
  }
  .col3 {
    width: 25.0%;
  }
  .col4 {
    width: 33.3333333333%;
  }
  .col5 {
    width: 41.6666666667%;
  }
  .col6 {
    width: 50.0%;
  }
  .col7 {
    width: 58.3333333333%;
  }
  .col8 {
    width: 66.6666666667%;
  }
  .col9 {
    width: 75.0%;
  }
  .col10 {
    width: 83.3333333333%;
  }
  .col11 {
    width: 91.6666666667%;
  }
  .col12 {
    margin-left: 0;
    width: 100%;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.text_left {
  text-align: left;
}

.text_center {
  text-align: center;
}

.text_right {
  text-align: right;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
