body
  border-top: 5px solid #FF8800
  background-color: #e5e5e5
  font: 16px / 26px "Roboto", Arial, Helvetica, Helvetica Neue, Arial
  font-weight: 300
  color: #262626
  font-smoothing: antialiased
  margin: 0

a
  text-decoration: none
  color: #262626
  &:visited
    color: #262626
  &:hover
    color: #FF8800

i
  color: #262626
