<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="description" content="Ruby, PHP developer - HTML5/CSS3 - JS (jQuery, NodeJS, Socket.IO). Android developer.">
  <meta name="author" content="Pierrick CAEN">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

  <title>Pierrick CAEN - Web &amp; Android developer - {{ page.title }}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,700">
  <link rel="stylesheet" href="/stylesheets/vendor.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body id="{{page.id}}">
  {% include header.html %}
  {{content}}

  <script>
    var _gaq=[['_setAccount','UA-24545456-1'],['_trackPageview']];(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  <script src="/javascripts/vendors/retina.js"></script>
</body>
</html>
