---
layout: default
id: article
---
<section class="content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--10">
      <section class="box">
        <article class="box-inner">
          <header>
            <h1>{{ page.title }}</h1>
            <date datetime="{{ page.date | date: '%Y-%m-%d' }}">{{ page.date | date: '%d/%m/%Y' }}</date>
          </header>
          <div class="post">
          {{ content }}
          </div>
        </article>
      </section>
    </div>
    <div class="mdl-cell mdl-cell--2">
      <section class="box">
        <div class="box-inner">
          <h2>Share this</h2>
          <a href="https://twitter.com/share" class="twitter-share-button" data-text="{{ page.title }}" data-via="prcaen" data-lang="fr" data-dnt="true">Tweeter</a>
          <div class="g-plusone" data-size="medium"></div>
        </div>
      </section>

    </div>
  </div>
</section>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript">
  window.___gcfg = {lang: 'fr'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/platform.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
