---
layout: default
title: Projects
id: projects
---

<section class="content">
  <div class="row">
    <div class="col12">
      <section class="box">
        <div class="box-inner">
          <h2>WDMTG <small>Website</small></h2>
          <div class="align-center">
            <img src="/images/projects/wdmtg_corporate_website.png" alt="WDMTG - website" width="646" height="444">
          </div>
          <div>
            <p>Where does my tweet go? is a web service that allow to measure the spread of tweets around the world. The "SpreakRank" algorithm compute a score between tweets and retweets and define the velocity of your tweet. You can visualize the spread of a tweet on a graph.</p>
            <p>Understanding the relationship between online word-of-mouth conversations and true engagement isn’t simple. Different patterns emerge with different types of content and different people involved.</p>
            <p>Features:</p>
            <ul>
              <li><strong><sup>01</sup> Track</strong> : You can track any trend, keywords or accounts. By tracking multiple elements you’ll create a feed that will be constantly updated with relevant tweets, smartly selected by our SpreadRank algorithm.</li>
              <li><strong><sup>02</sup> Watch</strong> : Once your Custom feed is set up, you can browse tweets through an enriched timeline. The SpreadRank (orange bar) allows you to quickly discern the hot tweets and the hot topics.  You can also define alerts based on the SpreadRank for each of your feed.</li>
              <li><strong><sup>03</sup> Analyze</strong> : By means of an elegant 3D and real time data visualization, we enable you to observe the structure and the understanding of a message’s journey (i.e. influencers, trends).</li>
            </ul>
            <p class="align-center">
              <a href="http://wdmtg.com" class="button-orange">
                <i class="icon icon-globe"></i>
                <span>Website</span>
              </a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col12">
      <section class="box">
        <div class="box-inner">
          <h2>My Warner - <small>Android</small></h2>
          <div class="row">
            <div class="col4 align-center">
              <img src="/images/projects/my_warner_android.png" alt="My Warner - Android" width="333" height="548">
            </div>
            <div class="col8">
              <p>My Warner gives its members a unique Second Screen experience on most recent Warner Bros. DVD and Blu-Rays.<br>Discover never-seen before contents created for your Android device<br>Live the experience, react and share.
Be a part of your favorite movies.</p>
              <p>Functionalities:</p>
              <ul>
                <li>Get access to all your DVDs &amp; Blu-Rays bonuses on your Android device</li>
                <li>Discover a Second Screen experience, synchronized with your movie and developed for your Android device</li>
                <li>Publish and share on Facebook and Twitter</li>
                <li>Interact with your friends and comment the movie you are watching</li>
                <li>Play all My Warner challenges, earn points, badges and exclusive gifts</li>
                <li>And many more to discover inside...</li>
              </ul>
              <p class="google-play-badge-container">
                <a href="https://play.google.com/store/apps/details?id=com.mfglabs.mywarner" class="sprite google-play-badge"></a>
              </p>
            </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col12">
      <section class="box">
        <div class="box-inner">
          <h2>Drivy - <small>Android</small></h2>
          <div class="row">
            <div class="col4 align-center visible-smartphone">
              <img src="/images/projects/drivy_android.png" alt="Drivy - Android" width="333" height="548">
            </div>
            <div class="col8">
              <p>Drivy is the first peer-to-peer car sharing web and mobile app in France. Car owners can cover the cost  generated by the car thanks to the rental of them personal car, and drivers can rent a car at a low price. The service includes an insurance that covers cars during rental.
              </p>

              <p>The application embeds the following features:</p>
              <ul>
                <li>For drivers:
                  <ul>
                    <li>Find the best car at the corner! (Location).</li>
                    <li>Contact the owner in one click (by phone or email), get agreement and book the owner car.</li>
                    <li>Receive real-time notifications.</li>
                    <li>Ask for rental extension with one click.</li>
                  </ul>
                </li>
                <li>For owners:
                  <ul>
                    <li>Register your car for free takes in less than a minute.</li>
                    <li>Manage your rentals: accept, decline, or contact the driver.</li>
                    <li>Receive real-time notifications.﻿</li>
                  </ul>
                </li>
              </ul>
              <p class="google-play-badge-container">
                <a href="https://play.google.com/store/apps/details?id=com.c4mprod.voiturelib" class="sprite google-play-badge"></a>
              </p>
            </div>
            <div class="col4 align-center hidden-smartphone">
              <img src="/images/projects/drivy_android.png" alt="Drivy - Android" width="333" height="548">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col12">
      <section class="box">
        <div class="box-inner">
          <h2>Drivy <small>Website</small></h2>
          <div class="align-center">
            <img src="/images/projects/drivy_website.png" alt="Drivy - website" width="646" height="444">
          </div>
          <div>
            <p>Drivy is the first peer-to-peer car sharing web and mobile app in France. Car owners can cover the cost  generated by the car thanks to the rental of them personal car, and drivers can rent a car at a low price. The service includes an insurance that covers cars during rental.
            </p>
            <p class="align-center">
              <a href="https://www.drivy.com" class="button-orange">
                <i class="icon icon-globe"></i>
                <span>Website</span>
              </a>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
